<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Seismic Design Web Service Documentation</title>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible"
      content="IE=edge" />

    <link rel="stylesheet"
      href="https://earthquake.usgs.gov/theme/site/earthquake/index.css" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons%7cMerriweather:400,400italic,700%7cSource+Sans+Pro:400,300,700" />
    <link rel="stylesheet"
      href="css/index.css" />
  </head>

  <body>
    <main>
      <header>
        <h1>Seismic Design Web Service Documentation</h1>
        <p>
          Web services provided by the U.S. Geological Survey for computing
          seismic design parameters compatible with various building code
          reference documents.
        </p>
      </header>

      <div class="alert warning">
        This software is preliminary or provisional and is subject to revision.
        It is being provided to meet the need for timely best science. The
        software has not received final approval by the U.S. Geological Survey
        (USGS). No warranty, expressed or implied, is made by the USGS or the
        U.S. Government as to the functionality of the software and related
        material nor shall the fact of release constitute any such warranty. The
        software is provided on the condition that neither the USGS nor the U.S.
        Government shall be held liable for any damages resulting from the
        authorized or unauthorized use of the software.
      </div>

      <h2>Reference Document End Points</h2>
      <h4>ASCE7</h4>
      <ul>
        <li><a href="asce7-16.html">2016 ASCE 7 Standard (ASCE7-16)</a></li>
        <li><a href="asce7-10.html">2010 ASCE 7 Standard (ASCE7-10)</a></li>
        <li><a href="asce7-05.html">2005 ASCE 7 Standard (ASCE7-05)</a></li>
      </ul>
      <h4>ASCE41</h4>
      <ul>
        <li><a href="asce41-17.html">2017 ASCE 41 Standard (ASCE41-17)</a></li>
        <li><a href="asce41-13.html">2013 ASCE 41 Standard (ASCE41-13)</a></li>
      </ul>
      <h4>NEHRP</h4>
      <ul>
        <li><a href="nehrp-2020.html">2020 NEHRP Standard (NEHRP-2020)</a></li>
        <li><a href="nehrp-2015.html">2015 NEHRP Standard (NEHRP-2015)</a></li>
        <li><a href="nehrp-2009.html">2009 NEHRP Standard (NEHRP-2009)</a></li>
      </ul>
      <h4>IBC</h4>
      <ul>
        <li><a href="ibc-2015.html">2015 IBC Standard (IBC-2015)</a></li>
        <li><a href="ibc-2012.html">2012 IBC Standard (IBC-2012)</a></li>
      </ul>
      <h4>AASHTO</h4>
      <ul>
        <li>
          <a href="aashto-2009.html">
            2009 AASHTO Guide Specifications (AASHTO-2009)
          </a>
        </li>
      </ul>
      <h2>Component Data End Points</h2>
      <ul>
        <li><a href="metadata.html">Metadata</a></li>
        <li><a href="uniform-hazard.html">Uniform Hazard</a></li>
        <li><a href="risk-coefficient.html">Risk Coefficient</a></li>
        <li><a href="deterministic.html">Deterministic</a></li>
        <li><a href="site-amplification.html">Site Amplification</a></li>
        <li><a href="tl.html">TL</a></li>
      </ul>
    </main>

    <footer class="footer">
      <dl>
        <dt>Version</dt>
        <dd>{{VERSION}}</dd>

        <dt>Revision</dt>
        <dd>{{REVISION}}</dd>
      </dl>
    </footer>
  </body>

</html>
